@import './button/index.css';
@import './range/index.css';
@import 'react-phone-input-2/lib/style.css';
@import 'react-datepicker/dist/react-datepicker.css';
@import './datepicker/index.css';
@import './ui-loader/index.css';
@import 'react-toastify/dist/ReactToastify.css';
@import './toast/index.css';
@import './tab/index.css';
@import './transition/index.css';
